In [0]:
USE CATALOG lalit_personal

In [0]:
DROP TABLE EMPLOYEES

In [0]:
CREATE TABLE EMPLOYEES
(id INT, name STRING, salary DOUBLE)
USING DELTA
-- LOCATION 'dbfs:/databricks-datasets/employees'

In [0]:
%sql
DESCRIBE DETAIL lalit_personal.default.employees

In [0]:
INSERT INTO lalit_personal.default.employees
VALUES 
(1, 'Adam', 3500.00), 
(2, 'Sarah', 4020.00);

In [0]:
select * from lalit_personal.default.employees

In [0]:
INSERT INTO employees
VALUES
(3, "Jhon", 29)

In [0]:
select * from employees

In [0]:
UPDATE employees
set salary = salary + 100
where name like '%A%'

In [0]:
select * from employees

In [0]:
describe history employees